/**
 *  Resets
 */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    box-sizing: border-box
}
html {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
*,::after,::before {
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}
input:focus,select:focus,textarea:focus {
    outline:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}
body {
    line-height:1
}
ol,ul {
    list-style:none
}
blockquote,q {
    quotes:none
}
blockquote::after,blockquote::before,q::after,q::before {
    content:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
a {
    text-decoration:none
}
b,strong {
    font-weight:700
}
/**
 *  Atomic
 */
.sheet-d-fl {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.sheet-d-no {
    display:none
}
.sheet-d-bl {
    display:block
}
.sheet-w-a {
    width:auto
}
.sheet-w-100p {
    width:100%
}
.sheet-w-90p {
    width:90%
}
.sheet-w-60p {
    width:60%
}
.sheet-w-50p {
    width:50%
}
.sheet-w-45p {
	width:45%
}
.sheet-w-33p {
    width:calc(100%/3)
}
.sheet-w-25p {
    width:25%
}
.sheet-w-20p {
    width:20%
}
.sheet-w-18p {
    width:18%
}
.sheet-w-14p {
    width:14%
}
.sheet-w-10p {
    width:10%
}
.sheet-w-5p {
    width:5%
}
.sheet-h-a {
    height:auto
}
.sheet-h-10 {
    height:1rem
}
.sheet-h-15 {
    height:1.5rem
}
.sheet-h-20 {
    height:2rem
}
.sheet-h-25 {
    height:2.5rem
}
.sheet-h-35 {
    height:3.5rem
}
.sheet-h-145 {
    height:14.5rem
}
.sheet-op-0 {
    opacity:0
}
.sheet-pos-rel {
    position:relative
}
.sheet-pos-abs {
    position:absolute
}
.sheet-pos-stk {
    position:sticky
}
.sheet-fl-col,.sheet-fl-row {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
.sheet-fl-col {
    -webkit-box-orient:vertical;
    -ms-flex-direction:column;
    flex-direction:column
}
.sheet-jc-sb {
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.sheet-jc-c {
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.sheet-jc-fe {
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.sheet-ai-c {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.sheet-ai-fe {
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end
}
.sheet-fw-w {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.sheet-fg-1 {
    flex-grow:1
}
.sheet-t-5 {
    top:.5rem
}
.sheet-t-10 {
    top:1rem
}
.sheet-t-20 {
    top:2rem
}
.sheet-t-0s {
    top:0
}
.sheet-t-1s {
    top:1.5rem
}
.sheet-l-0s {
    left:0
}
.sheet-l-1s {
    left:1.5rem
}
.sheet-r-n5 {
    right:-.5rem
}
.sheet-r-0s {
    right:0
}
.sheet-r-1s {
    right:1.5rem
}
.sheet-z-1 {
    z-index:1
}
.sheet-z-2 {
    z-index:2
}
.sheet-mt-1s {
    margin-top:1.5rem
}
.sheet-mb-1s {
    margin-bottom:1.5rem
}
.sheet-ml-1s {
    margin-left:1.5rem
}
.sheet-mr-1s {
    margin-right:1.5rem
}
.sheet-mx-1s {
    margin-left:1.5rem;
    margin-right:1.5rem
}
.sheet-my-1s {
    margin-top:1.5rem;
    margin-bottom:1.5rem
}
.sheet-mb-2s {
    margin-bottom:3rem
}
.sheet-ml-2s {
    margin-left:3rem
}
.sheet-mr-2s {
    margin-right:3rem
}
.sheet-mr-3s {
    margin-right:4.5rem
}
.sheet-mb-5 {
    margin-bottom:.5rem
}
.sheet-mb-10 {
    margin-bottom:1rem
}
.sheet-ml-10 {
    margin-left:1rem
}
.sheet-mr-a {
    margin-right:auto
}
.sheet-ml-a {
    margin-left:auto
}
.sheet-mr-5 {
    margin-right:.5rem
}
.sheet-ml-n90p {
    margin-left:-90%
}
.sheet-ml-n18p {
    margin-left:-18%
}
.sheet-ml-n10p {
    margin-left:-10%
}
.sheet-ml-n5p {
    margin-left:-5%
}
.sheet-mb-n10 {
    margin-bottom:-1rem
}
.sheet-pt-1s {
    padding-top:1.5rem
}
.sheet-pb-1s {
    padding-bottom:1.5rem
}
.sheet-pl-1s {
    padding-left:1.5rem
}
.sheet-pr-1s {
    padding-right:1.5rem
}
.sheet-p-1s {
    padding:1.5rem
}
.sheet-px-1s {
    padding-left:1.5rem;
    padding-right:1.5rem
}
.sheet-py-1s {
    padding-top:1.5rem;
    padding-bottom:1.5rem
}
.sheet-pb-2s {
    padding-bottom:3rem
}
.sheet-px-3s {
    padding-left:4.5rem;
    padding-right:4.5rem
}
.sheet-px-6s {
    padding-left:9rem;
    padding-right:9rem
}
.sheet-p-5 {
    padding:.5rem
}
.sheet-py-5 {
    padding-top:.5rem;
    padding-bottom:.5rem
}
.sheet-py-10 {
    padding-top:1rem;
    padding-bottom:1rem
}
.sheet-c-white {
    color:#FFF6E5
}
.sheet-bgc-white {
    background-color:#fff
}
.sheet-bgc-orange {
    background-color:#DF9500
}
.sheet-c-lorange {
    color:#FFF6E5
}
.sheet-c-orange {
    color:#DF9500
}
.sheet-c-dorange {
    color:#6D4800
}
.sheet-bgc-gray {
    background-color:#F5F5F5
}
.sheet-bgc-dgray {
    background-color:#d8d8d8
}
.sheet-bgc-transparent {
    background-color:transparent
}
.sheet-font-pictos {
    font-family:"Pictos"
}
.sheet-font-pictos-custom {
    font-family:"Pictos Custom"
}
.sheet-font-pictos-three {
    font-family:"Pictos Three"
}
.sheet-font-helvetica {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
.sheet-fw-bold {
    font-weight:700
}
.sheet-fs-9 {
    font-size:.9rem
}
.sheet-fs-10 {
    font-size:1rem
}
.sheet-fs-12 {
    font-size:1.2rem
}
.sheet-fs-14 {
    font-size:1.4rem
}
.sheet-fs-16 {
    font-size:1.6rem
}
.sheet-fs-18 {
    font-size:1.8rem
}
.sheet-fs-20 {
    font-size:2rem
}
.sheet-fs-22 {
    font-size:2.2rem
}
.sheet-fs-24 {
    font-size:2.4rem
}
.sheet-fs-30 {
    font-size:3rem
}
.sheet-ta-c {
    text-align:center
}
.sheet-ta-e {
    text-align:end
}
.sheet-td-u,.sheet-td-u-h:hover {
    text-decoration:underline
}
.sheet-b-dgray {
    border:1px solid #d8d8d8
}
.sheet-bx-dgray {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.sheet-br-2 {
    border-radius:.2rem
}
.sheet-br-4 {
    border-radius:.4rem
}
.sheet-bb {
    border-bottom:.1rem solid #d8d8d8
}
.sheet-bl {
    border-left:1px solid #d8d8d8
}
.sheet-bt {
    border-top:1px solid #d8d8d8
}
.sheet-cent-v {
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.sheet-cent-hv {
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.sheet-curs-p {
    cursor:pointer
}
/**
 *  Utilities
 */
input.sheet-toggle-pcsheet:checked ~ div .sheet-pcsheet,
input.sheet-toggle-npcsheet:checked ~ div .sheet-npcsheet {
    display: block;
}
a.repcontrol_move,
button.repcontrol_del,
button.repcontrol_add,
button.repcontrol_edit {
	padding: 2px 10px;
}
.charsheet .repcontainer .itemcontrol {
    z-index: 1
}
button.pictos {
	font-family: "Pictos";
}
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-toggle-settings:checked ~ div.sheet-tab-settings {
    display: block;
}

input.sheet-tab:checked + span div {
    border-bottom-color: transparent;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-radius: 4px 4px 0 0;
}

input.sheet-toggle-advancement + span + span div,
input.sheet-toggle-advancement + span div {
    border-radius: 4px 4px 0 0;
}

.sheet-hide-advancement,
.sheet-toggle-advancement:checked ~ div .sheet-trigger-advancement:checked ~ .sheet-show-advancement {
	display: block
}

.sheet-toggle-advancement:checked ~ div .sheet-trigger-advancement:not(:checked) ~ .sheet-hide-advancement {
	opacity: 0
}

.sheet-show-advancement,
.sheet-toggle-advancement:checked ~ div .sheet-trigger-advancement:checked ~ .sheet-hide-advancement {
	display: none
}

.sheet-toggle-child-1,
.sheet-toggle-visible:checked ~ .sheet-toggle-child-2 {
    display: flex
}

.sheet-toggle-child-2,
.sheet-toggle-visible:checked ~ .sheet-toggle-child-1 {
    display: none
}

.sheet-expand-child-1,
.sheet-expand-child-2 {
    -webkit-transition: padding 0.5s, max-height 0.5s;
    -moz-transition: padding 0.5s, max-height 0.5s;
    transition: padding 0.5s, max-height 0.5s;
    overflow: hidden;
}

.sheet-expand-child-1,
.sheet-toggle-visible:checked ~ .sheet-expand-child-2 {
    max-height: 30rem;
}

.sheet-expand-child-2,
.sheet-toggle-visible:checked ~ .sheet-expand-child-1 {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

input[type="number"].sheet-w-90p {
    width:90%
}
input[type="number"].sheet-w-50p {
    width:50%
}
input.sheet-h-30 {
    height:3rem
}
.charsheet input,
.charsheet textarea {
    font-family: "Shadows Into Light";
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.charsheet button[type="roll"].btn {
	color:#fff6e5;
	background:#feb624;
}
.charsheet button[type="roll"].sheet-show-advancement {
    padding: 0 4px;
}
.charsheet button[type="roll"].sheet-no-die:before {
    content:"";
}

.sheet-rolltemplate-attack-roll *,
.sheet-rolltemplate-RQG-Fumble *,
.sheet-rolltemplate-Humanoid-Hit-Locations *,
.sheet-rolltemplate-Four-Legged-Hit-Locations *,
.sheet-rolltemplate-Other-Hit-Locations *,
.sheet-rolltemplate-spell *,
.sheet-rolltemplate-simple-roll *,
.sheet-rolltemplate-skill-2 * {
	box-sizing: border-box;
}
.sheet-rolltemplate-attack-roll .inlinerollresult.importantroll,
.sheet-rolltemplate-RQG-Fumble .inlinerollresult.importantroll,
.sheet-rolltemplate-Humanoid-Hit-Locations .inlinerollresult.importantroll,
.sheet-rolltemplate-Four-Legged-Hit-Locations .inlinerollresult.importantroll,
.sheet-rolltemplate-Other-Hit-Locations .inlinerollresult.importantroll,
.sheet-rolltemplate-spell .inlinerollresult.importantroll,
.sheet-rolltemplate-simple-roll .inlinerollresult.importantroll,
.sheet-rolltemplate-skill-2 .inlinerollresult.importantroll {
	border: none;
}
.sheet-rolltemplate-attack-roll .inlinerollresult,
.sheet-rolltemplate-RQG-Fumble .inlinerollresult,
.sheet-rolltemplate-Humanoid-Hit-Locations .inlinerollresult,
.sheet-rolltemplate-Four-Legged-Hit-Locations .inlinerollresult,
.sheet-rolltemplate-Other-Hit-Locations .inlinerollresult,
.sheet-rolltemplate-spell .inlinerollresult,
.sheet-rolltemplate-simple-roll .inlinerollresult,
.sheet-rolltemplate-skill-2 .inlinerollresult {
	border: none;
	background-color: transparent;
	padding: 0;
	font-size: inherit;
}
.sheet-rolltemplate-attack-roll .sheet-flex-row-sb,
.sheet-rolltemplate-RQG-Fumble .sheet-flex-row-sb,
.sheet-rolltemplate-Humanoid-Hit-Locations .sheet-flex-row-sb,
.sheet-rolltemplate-Four-Legged-Hit-Locations .sheet-flex-row-sb,
.sheet-rolltemplate-Other-Hit-Locations .sheet-flex-row-sb,
.sheet-rolltemplate-spell .sheet-flex-row-sb,
.sheet-rolltemplate-simple-roll .sheet-flex-row-sb,
.sheet-rolltemplate-skill-2 .sheet-flex-row-sb {
	display: flex;
	justify-content:space-between;
	align-items:center;
}
